@import url("https://fonts.signalwerk.ch/css/latest/family=Open+Sans:ital,wght@0,300..800;1,300..800.css");

:root {
  font-size: 24px;
  line-height: 1.4;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0.25rem 0.6rem;
}

a {
  text-decoration: none;
  color: #41b297;
  font-weight: 700; /* bold */
}
a:hover {
  color: black;
}

img {
  width: 100%;
  display: block;
}
